:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333 ;
    --primary-color: #f94e2f;
    --border-color:#DBDBDB;
    --hover-color:#f0e5e5;
    --star-gold-color: yellow;

    --header-height:120px;
    --navbar-height:37px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* RESPONSIVE */
.grid{
    width: 1200px;
    max-width:100%;
    margin:0 auto;
}

.grid__full-width{
    width: 100%;

}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}   

.grid__column-2{
    padding-left:5px;
    padding-right:5px;
    width:16.6667%;
}
.grid__column-2-4{
    padding-left:5px;
    padding-right:5px;
    width: 20%;
}
.grid__column-10{
    padding-left:5px;
    padding-right:5px;
    width:83.334%;
}
/* Animation */
@keyframes faceIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
       transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to))
    }
}
/* Modal layout */

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
}
.modal__overlay{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    animation: faceIn linear 0.1s;
}
.modal__body{
    --growth-from:0.6;
    --growth-to:1;
    width: 500px;
    margin:auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button style */
.btn{
    min-width: 124px;
    height:34px;
    text-decoration: none;
    border:none;
    border-radius:2px;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color:var(--white-color);

}
.btn.btn--normal:hover{
     background-color:rgba(0,0,0,0.2);
}
.btn.btn--primary{
    color:var(--white-color);
    background-color: var(--primary-color);
    border-style: none;
}
.btn.btn--disabled{
    color: rgb(145, 138, 138);
    cursor:default;
    background-color: rgb(177, 174, 174);
}

/* select input */
.select-input{
    min-width: 180px;
    position:relative;
   height: 34px;
   padding:0 12px;
   border-radius:2px ;
   background-color: var(--white-color);
   font-size: 1.4rem ;
   display:flex;
   justify-content:space-between;
   align-items:center;
}

.select-input:hover .select-input-list{
     display: block;
}
.select-input-icon{
    font-size:1.4rem ;
    color: rgba(131,131,131);
    position: relative;
    top:0;
}
.select-input-list{
    position: absolute;
    top :calc(100% - 9px);
    left:0;
    padding-left: 0;
    background-color: var(--white-color);
    width: 140px;
    border-radius: 2px;
    box-shadow:0 1px 5px rgb(173, 170, 170);
    list-style: none;
    text-align: center;
    display: none;
    z-index: 1;
}

.select-input-list::after{
    content:"";
    display: block;
    position: absolute;
    right:0;
    top: -13px;
    width: 100%;
    height: 15px;
}
.select-input_link{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    display: block;
    padding:8px 0;
}
.select-input_link:hover{
    color: var(--primary-color);
}
/* pagination */
.pagination{
    display:flex;
    font-size:1.5rem;
    list-style: none;
    justify-content:center;
    border-radius: 2px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}
.pagination-item{
    background-color: var(--white-color);
    text-align: center;
    border-left: 1px solid rgb(245, 236, 236);
}
.pagination-item:first-child{
    border:none;
}
.pagination-item_link{
    --line-height: 30px;
    display:block;
    text-decoration: none;
    min-width: 40px;
    height:var(--line-height);
    line-height:var(--line-height);
    color: var(--text-color);
    text-align: center;
    font-weight: 300;
}

.pagination-item_link.pagination-item_link-select{
    color:var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item_link.pagination-item_link-select:hover{
    background-color: #ed5c3f;

}
