.app{
    overflow: hidden;
}

.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#ff592d,#f63a29);
}

/* Header sort bar */
.header__sort-bar{
    position: fixed;
    top:var(--header-height);
    left:0;
    right:0;
    height: var(--header-sortBar-height);
    background-color: var(--white-color);
    /* display: flex; */
    padding: 0;
    margin: 0;
    border-top:1px solid var(--border-color);
    border-bottom:1px solid var(--border-color);
    display: none;
}
.header__sort-item{
    list-style: none;
    flex: 1 ;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sortBar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before{
    position: absolute;
    content:"";
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}
.header__sort-link-active .header__sort-link{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

/* Tài khoản */
.header__navbar-user{
    display: flex;
    justify-content:center;
    position: relative;
    min-width: 126px;
}
.header__navbar-user-name{
    padding-left: 28px;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display:block;
}

.header__navbar-user-img{
    width:22px;
    height:22px;
    border-radius: 50%;
    position:absolute;
    top:-4px;
    border:1px solid rgba(0,0,0,0.2);
}

.header__navbar-user-menu{
    position: absolute;
    padding:8px 0;
    width: 160px;
    top: calc( 100% + 8px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    display:none;
    animation: faceIn ease-in 0.2s;
    border: 1px solid var(--border-color);
    z-index: 1;
}
.header__navbar-user-menu::after{
    content:"";
    display: block;
    position: absolute;
    right:0;
    top: -12px;
    width: 78%;
    height: 20px;
}
.header__navbar-user-menu::before{
    content:"";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 85px;
    top: -28px;
}
.header__navbar-user-item{
    padding:0 16px;
}

.header__navbar-user-item-separate{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.header__navbar-user-item:hover{
    background-color: var(--hover-color);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding:6px 0;
}

.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    font-size:1.4rem;
    color: var(--white-color);
    text-decoration:none;
    font-weight: 300;
    cursor: pointer;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color:rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item-qr:hover .header__qr{
    display: block;
}

/* .header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display:inline-flex;
    align-items: center;
} */

.header__navbar-item-strong{
    font-weight: 500;
}

.header__navbar-item--separate:after{
    content:"";
    display:block;
    position: absolute;
    border-left: 1px solid var(--white-color);
    height: 15px;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;

}

.header__navbar-icon{
        font-size:1.6rem;
        margin: 0 4px;
}

.header__navbar-title-no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon.fa-facebook-square{
    color:aqua;
    margin-left: 7px;
}
.header__navbar-icon.fa-facebook-square:hover{
    color:#1a73ea;
}

/* Header QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: -1px;
    top:150%;
    padding:8px;
    border-radius: 2px;
    display:none;
    animation: faceIn ease-in 0.3s;
    box-shadow:0 1px 5px rgb(173, 170, 170);
    z-index: 1;
}

.header__qr::before{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    height: 20px;
}

.header__pr-img{
    width:100%;
}

.header__qr-app{
 display: flex;
 justify-content: space-between;
}
.header__pr-link:nth-child(1){
    margin-left: 11px;
}
.header__pr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-download-img{
    height:15px ;
}

/* Notifiotion */
.header__notify{
    position:absolute;
    top: 150%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    background-color:var(--white-color);
    border:1px solid #D3D3D3;
    cursor: default;
    animation: headerNotifyGrow ease 0.2s;
    transform-origin: calc(100% - 32px) top;
    display: none;
    will-change: opacity,transform;
    z-index: 2;
}
.header__notify::after{
    content:"";
    display: block;
    position: absolute;
    right:0;
    top: -12px;
    width: 92px;
    height: 20px;
}
.header__notify::before{
    content:"";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -30px;
}

@keyframes headerNotifyGrow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__navbar-item-has-hover:hover .header__notify{
    display:block;
}

.header__notify-header{
    height:40px;
    background-color:var(--white-color);
    cursor:text;
}
.header__notify-header h3{
    color:#999;
    margin:10px 0 0 12px;
    font-weight: 400;
    font-size:1.4rem;
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item:hover{
    background-color: #fceeee;
}

.header__notify-item-view{
    background-color: rgba(249,78,47,0.2);
}
.header__notify-link{
    display:flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    color:black;
}

.header__notify-img{
    width:60px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 10px;
}
.header__notify-name{
    display:block;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__notify-descriotion{
    display:block;
    font-size: 1.2rem;
    color:rgb(128, 122, 122);
    line-height:2rem;
}

.header__notify-footer{
   display:flex;
    padding :10px 0;
    background-color: var(--white-color);
}
.header__notify-footer-btn{
    text-decoration: none;
    padding:8px 0;
    width:100%;
    text-align: center;
    margin:auto;
    font-size:1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

/* Authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container{
    margin:0 32px;
}
.auth-form__header{
    display:flex;
    padding:0 12px;
    margin-top: 10px;
    align-items:center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size:2.2rem;
    font-weight:500;
    color:var(--text-color);
}
.auth-form__switch-btn{
    font-size:1.6rem;
    font-weight:500;
    color:var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    height:40px;
    width: 100%;
    margin-top: 16px;
    padding:0 12px;
    font-size:1.4rem;
    border:1px solid var(--border-color);
    border-radius: 2px;
    outline: none ;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form_policy-text{
    font-size:1.3rem;
    text-align: center;
    padding:0 12px;
}
.auth-form_text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__control{
    margin-top:50px;
}
.auth-form__control{
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__social{
    background-color:#e6dcdc;
    padding: 12px 36px;
    display: flex;
    justify-content:space-between;
    margin-top: 24px;
}

.btn.btn--sizeS{
    height:30px;
}

.auth-form__social-icon{
    font-size:1.8rem;
}
.auth-form__social--facebook {
    background-color: #1a73ea;
    color: var(--white-color);
    text-decoration: none;
    font-size: 12px;
}

.auth-form__social--facebook
.auth-form__social-icon{
 color:var(--white-color);
}
.auth-form__social-title{
    margin: 0 30px;
}

.auth-form__social--google{
    color: #666;
    background-color: var(--white-color);
    font-size: 12px;
}

/*Login Form  */
.auth-form__help{
    display:flex;
    justify-content:flex-end;
}

.auth-form__help-link{
    font-size:1.4rem;
    text-decoration: none;
    display:flex;
    align-items:center;
    color: #939393;
}
.auth-form__help-separate{
    display:block;
    height: 22px;
    border-left: 1px solid var(--border-color);
    margin:0 16px ;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search{
    padding: 0 8px;
    height: var(--header-with-search-height);
    display:flex;
    align-items: center;
}
.header__mobile-search-icon {
    font-size:2.6rem;
    color: var(--white-color);
}
.header__logo{
    width: 200px;
    margin-right: 62px;
}
.header__logo-link{
    color:transparent;
    text-decoration: none;
    line-height: 0;
    display: block;
    -webkit-tap-highlight-color: transparent;
}
.header__search{
    background-color: var(--white-color);
    height:42px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;

}

.header__search-checkbox:checked ~ .header__search{
    display: flex;
}
.header__search-search{
    width:100%;
    height:100%;
    border: none;
    outline: none;
    font-size:1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 6px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
    top:2px;
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: rgb(158, 155, 155);
    margin: 0 16px;
    position: relative;
    top:2px;
}

.header__search-btn{
    height:34px;
    width: 60px;
    background-color:var(--primary-color);
    border:none;
    border-radius: 2px;
    margin-right: 4px;
    outline:none;
    cursor: pointer;
}
.header__search-btn:hover{
    background-color: rgba(251, 85,51,0.8);
}
.header__search-btn-icon{
    color:var(--white-color);
    font-size: 1.6rem;
}


.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    background-color: var(--white-color);
    list-style: none;
    top: 24px;
    right:0;
    width: 124px;
    padding:0;
    border-radius:3px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 1px #fff;
    display:none;
    animation: faceIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::before{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 30px;
}

.header__search-option_item{
    background-color: var(--white-color);
    border-radius:3px;
    padding: 8px 8px 8px 0;
    border-radius:3px;
}
.header__search-option_item:hover{
    background-color: rgb(231, 216, 216);
}
.header__search-option_item span{
    font-size:1.4rem;
    color:var(--text-color);
    margin:0 6px 0 9px;
}
.header__search-option_item i{
    padding-left: 8px;
    font-size:1.2rem;
    color:var(--primary-color);
    display: none;
}
.header__search-option_item-active i{
    display:inline-block;
}

.header__search-search:focus ~.header__search-history{
    display:block;
}
/* Search History */
.header__search-search-wrap{
    flex: 1;
    position: relative;
}
.header__search-history{
    position: absolute;
    top:calc(100% + 16px);
    left:0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius:2px;
    box-shadow:0 1px 5px rgb(173, 170, 170);
    display:none;
    overflow: hidden;
    z-index: 1;
}
.header__search-history-heading{
    margin: 8px 16px;
    font-size: 1.4rem;
    color: rgb(143, 137, 137);
    font-weight: 400;
}

.header__search-history-list{
    padding:0 ;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item{
    height:30px;
    line-height:30px;
}
.header__search-history-item:hover{
    background-color:#fceeee;
}
.header__search-history-item a{
    text-decoration:none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 16px;
    display: block;
}

/* Cart layout - Gio hang */
.header__cart{
    width:150px;
    text-align: center;
}
.header_cart-block-icon{
    position: relative;
    display: inline-block;
    padding:0 6px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.header_cart-block-icon:hover .header__cart-list{
    display:block;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right:2px;
    top:-30px;
    border-width: 18px 20px;
    border-style: solid;
    cursor: pointer;
    border-color:transparent transparent var(--white-color) transparent;
}
.header__cart-icon {
    font-size:2.4rem;
    color: var(--white-color);
}
.header__cart-list{
    position: absolute;
    background-color:var(--white-color);
    top: calc(100% + 12px);
    right:-5px;
    width:360px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 10px rgba(0, 0,0, 0.2);
    display: none;
    animation: faceIn ease-in 0.3s;
    cursor: default;
    z-index: 1;
}
.header__cart-list--noCart{
    padding: 24px 0;
}
.header__cart-list--noCart .header__cart-noCart-img,
.header__cart-list--noCart .header__cart-noCart-msg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-noCart-img{
    width:70%;
    display:none;

}
.header__cart-noCart-msg{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top:8px;

    display:none;
}

.header__cart-notice{
    position:absolute;
    background-color: var(--white-color);
    padding: 0 6px;
    border-radius:16px;
    right:-6px;
    top: -10px;
    color: var(--primary-color);
    line-height:1.4rem ;
    font-size: 1.4rem;
    border: 2px solid #EE4D2D ;
}

/* Cart item  */
.header__cart-heading{
    font-size: 1.4rem;
    color: rgb(168, 157, 157);
    text-align: left;
    margin: 8px 12px 8px 12px;
    font-weight: 400;

    
}
.header__cart-list-item{
    padding:0;
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
    padding:6px 0;
}
.header__cart-item:hover{
    background-color:#fceeee;
}
.header__cart-img{
    height: 40px;
    width: 42px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
}
.header__cart-item-info{
    width: 100%;
    padding: 0 12px 0 6px;
}
.header__cart-item-head{
     font-size:1.4rem;
     display: flex;
     align-items: center;
     justify-content:space-between;
     padding-top: 2px;

}
.header__cart-item-price-wrap{
    min-width: 120px;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight:450;
    text-align: left;
    color:var(--text-color);
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color:var(--primary-color);
}
.header__cart-item-multiply{
    color: #757575;
    font-size: 1.1rem;
    margin:0 4px;
}
.header__cart-item-count{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color:#757575;
    font-size: 1.2rem;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    padding:4px;
    border-radius: 3px;
    cursor:pointer;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
}
.header__cart-viewCart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-viewCart:hover{
    background-color: #F05D41;
}

/* App container */
.app_container{
    background-color: #f8ecec;
    padding: 10px;
}
.grid{

}
.grid__row{
    
}
.app_content{
    padding-top: 26px;
}
.grid__column-2{

}
.grid__column-10{

}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category_heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 6px;
    margin:0;
    text-transform: uppercase;
}
.category-list{
    padding-left: 0;
    margin:0 0 0 21px;
    list-style: none;

}
.category-item{
    padding: 8px 0;
    margin: 0;
    position: relative;
}
.category-item::after{
    position: absolute;
    content: "";
    border-top: 1px solid rgba(0, 0,0, 0.1);;
    top: 0;
    left: 0px;
    right: 20px;
}
.category-item_link{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.9rem;
    transition: right linear 0.1s;
}
.category-item_link:hover{
    right:-4px;
    color: var(--primary-color);
    
}
.category-item-active .category-item_link{
    color: var(--primary-color);
}
.category-item-active .category-item_link::before{
    content:"";
    position: absolute;
    left: -14px;
    top:calc(50% - 7px);
    border: 6px solid;
    border-color: transparent transparent transparent  var(--primary-color);
}
/* Home sort */
.home-filter{
    background-color: rgba(0, 0,0, 0.04);
    display:flex;
    padding: 5px 22px;
    border-radius: 2px;
    align-items: center;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size:1.4rem;
    color: var(--text-color);
    margin-right: 20px;
 }
.home-filter-label{
    font-size:1.4rem;
    color: #555;
    margin-right:12px;

}
.home-filter_btn{
    margin-right: 12px;
    min-width:90px;
}

.home-filter__page-current{
   color:var(--primary-color); 
}
.home-filter__page-control{
    border-radius: 2px;
    overflow:hidden;
    display:flex;
    width:72px;
    height:35px;
}
.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display:flex;
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-btn-icon{
    margin: auto;
    font-size:1.5rem;
}
.home-filter__page-btn-disable{
    background-color: #f9f9f9;
    cursor:default;
}
.home-filter__page-btn-disable .home-filter__page-btn-icon{
    color: #ccc;
}

/* mobile-category */
.mobile-category-list{
    list-style: none;
    padding-left: 0;
    display:flex;
    max-width: 100%;
    overflow-x: auto;
    margin-top:0;
}

.mobile-category-list::-webkit-scrollbar
{
    display: none;
}
.mobile-category{

}
.mobile-category-item{
    flex-shrink: 0;
    border-radius: 5px;
    margin-right: 8px;
}
.mobile-category-item:nth-last-of-type(3n)
{
    background-color: rgb(89, 167, 240);
}

.mobile-category-item:nth-last-of-type(3n + 1)
{
    background-color: rgb(15, 139, 42);
}

.mobile-category-item:nth-last-of-type(3n+ 2)
{
    background-color: rgb(245, 182, 236);
}

.mobile-category-link{
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white-color);
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height:calc(var(--line-height) * 2);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 300;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    padding:0 6px;

}

/* Product item */
.home-product{}
.home-product-item{
    position: relative;
    margin-top:10px;
    display: block;
    text-decoration: none;
    background-color:var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    transform:translateY(-1px);
    box-shadow:  0 1px 20px 0 rgba(0,0,0,0.05);;
}
.home-product-item-img{
    padding-top:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height:3.6rem;
    margin:10px 10px 6px 10px;
    overflow: hidden;
    display:block;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item-price{
    display:flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item-price-old{
    font-size: 1.2rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}
.home-product-item-price-new{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item-action{
    display:flex;
    justify-content: space-between;
    margin: 9px 10px;
}
.home-product-item-action-like{
    font-size:1.4rem;
}
i.home-product-item-action-like-icon-fill{
    display: none;
    color:#F63D30;
}
.home-product-item-action-like-liked .home-product-item-action-like-icon-fill{
    display: inline-block;
}

.home-product-item-action-like-liked .home-product-item-action-like-icon-empty{
    display:none;
}
.home-product-item-action-rating{
    font-size: 0.8rem;
    color: #bdb2b2;
    margin-left: auto;
    margin-top: -1px;
}
.home-product-item-gold{
    color: var(--star-gold-color);
}
.home-product-item_sold{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-left: 8px;
}

.home-product-item-origin{
    display:flex;
    justify-content:space-between;
    margin: 4px 10px 0;
    color: #595959;
    font-size: 1.2rem;
}

.home-product-item_favourite{
    position:absolute;
    top: 10px;
    left:-4px;
    color:var(--primary-color);
    background-color:currentColor;
    font-size: 1.2rem;
    padding-right: 4px;
    line-height: 1.8rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item_favourite::after{
    content:"";
    border-top: 3px solid currentColor;
    filter:brightness(60%);
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;
}
.home-product-item_favourite span{
    color: var(--white-color);
}
.home-product-item_favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 4px 0 4px;
}
.home-product-item_saleOff{
    padding-top:4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255,216,64,0.94);
    border-top-right-radius: 2px;
}
.home-product-item_saleOff::after{
    content:"";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.94) transparent; 
}
.home-product-item_saleOff_percent{
    color:var(--primary-color);
    font-weight: 600;
    font-size:1.3rem;
    line-height: 1.3px;
}
.home-product-item_saleOff_label{
    font-weight: 500;
    font-size:1.3rem;
    line-height: 1.3px;
    color:var(--white-color);
}

/* pagination */
.home-product_pagination{
    margin:38px 0 30px 0;
}
/* Footer */

.footer{
    border-top:4px solid var(--primary-color);
    padding-top:12px;
    background-color: var(--white-color);
}
.footer__heading{
    text-transform:uppercase;
    font-size: 1.4rem;
    color:var(--text-color);
}
.footer__list{
    list-style: none;
    padding: 0;
}
.footer-item{
    font-size: 1.3rem;
    margin-bottom: 2px;
    
}

.footer-item_link{
    display:block;
    color:var(--text-color);
    text-decoration:none;
    padding:4px 0;
}
.footer-item_link:hover{
    color: var(--primary-color);
}
.footer-item_link-icon{
    position: relative;
    font-size: 1.6rem;
    top:1px;
    margin-right: 6px;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    width:80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
  
}
.footer__download-app{
    flex: 1;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height:20px;
}
.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    margin-top:10px;
    padding: 12px 0;
    background-color: rgb(235, 220, 220);
    text-align: center;

}
.footer-license{
    font-size:1.2rem;
    color: var(--text-color);
    margin:0;
}